body{
    background-color: #E3516E;
}
.circle{
    height: 0px;
    width: 0px;
    /* border-radius: 50%; */
    border-style: solid;
    transform: rotate(45deg);
    border-radius: 50%;
    border-width: 200px;
    border-left-color: #51B5A9;
    border-right-color: transparent;
    border-bottom-color: #F7F3D7;
    border-top-color: #FADE88;
    margin-top: 100px;
    margin-left: 400px;
}
